h1 {
  color: Red;
  font-size: 48px;
  bottom: 50px;
}

body {
  background-color: SteelBlue;  
}

img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

#header {
  position:fixed;
}

#second {
  float: right;
}

#content {
  background-color: FireBrick;
}
