h1 {
  color: Red;
  font-size: 48px;
}

body {
  background-color: SteelBlue;  
}

img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

header {
  position: fixed;
  top: 30px;
  right: 100px;
}
